<div class="tui-container">
  <h1>Добавить нового сотрудника</h1>
  <form [formGroup]="registrationForm" class="tui-form">
    <tui-input [formControlName]="'login'" class="tui-form__row">
      Логин
      <input
        tuiTextfield
        placeholder="Введите логин от LDAP"
      />
    </tui-input>
    <tui-input [formControlName]="'email'" class="tui-form__row">
      Email
      <input
        tuiTextfield
        placeholder="Введите e-mail сотрудника"
        type="email"
      />
    </tui-input>
    <tui-notification class="tui-form__row">
      Пароль для сотрудника сгенерируется автоматически
    </tui-notification>
    <button
      tuiButton
      [showLoader]="loading()"
      [disabled]="loading()"
      (click)="sendRegistrationForm()"
      class="tui-form__buttons"
    >
      Регистрация
    </button>
    <tui-error [error]="requestError()">

    </tui-error>
  </form>
</div>
